<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/fontawesome-free/css/all.min.css" />
    <link href="~/styles/sb-admin-2.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApp_Inventory.styles.css" asp-append-version="true" />

    <link href="~/inventory-control.ico" rel="icon" type="image/x-icon" />

   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
</head>

<body id="page-top">

    <div id="wrapper" class="d-flex">
        <!-- Sidebar -->
        
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <li class="nav-item">

                <a class="sidebar-brand d-flex align-items-center justify-content-center" asp-area="" asp-controller="Home" asp-action="Index">
                    <div class="sidebar-brand-icon rotate-n-15">
                        <i class="fas fa-boxes"></i>
                    </div>

                    <div class="sidebar-brand-text mx-3">INVENTRACK</div>
                </a>
            </li>

            <li class="nav-item">

                <a class="nav-link collapsed" href="#"
                   data-bs-toggle="collapse"
                   data-bs-target="#collapseInventario"
                   aria-expanded="false"
                   aria-controls="collapseInventario">
                    <i class="fas fa-warehouse"></i>
                    <span>ALMACEN</span>
                    <span class="caret"></span>
                </a>
                <div id ="collapseInventario" class="collapse" data-bs-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <a class="collapse-item" asp-area="" asp-controller="TipoProducto" asp-action="Listar">
                            Tipos de Productos
                        </a>
                        <a class="collapse-item" asp-area="" asp-controller="FormaVenta" asp-action="Listar">
                            Formas de Ventas
                        </a>
                        <a class="collapse-item" asp-area="" asp-controller="Producto" asp-action="Listar">
                            Stock De Productos
                        </a>
                    </div>
                </div>
            </li>



        </ul>

        
        <div id="content-wrapper" class="d-flex flex-column min-vh-100">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar (si deseas agregar uno) -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <!-- Puedes dejar vacío o colocar botones de usuario, notificaciones, etc. -->
                </nav>

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    @RenderBody()
                </div>
                <!-- End Page Content -->

            </div>
            <!-- End Main Content -->
        </div>
        <!-- End Content Wrapper -->

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/sb-admin-2.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/sweetalert2/sweetalert2.all.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
