@model Persistencia.Entities.Forma_Venta
@{
    ViewData["Title"] = "CREAR NUEVA FORMA DE VENTA";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        CREAR FORMA DE VENTA
    </div>

    <div class="card-body">

        <form asp-action="Crear" asp-controller="FormaVenta" method="post">

            <div class="mb-3">
                <label class="form-label">Descripcion</label>
                <input asp-for="Descripcion_FormaVenta" type="text" class="form-control">
                <span asp-validation-for="Descripcion_FormaVenta" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Simbolo</label>
                <input asp-for="Simbolo" type="text" class="form-control">
                <span asp-validation-for="Simbolo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success"><i class="bi bi-floppy2-fill"></i> Guardar</button>
            <a asp-action="Listar" asp-controller="FormaVenta" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Volver a la Lista</a>
        </form>

    </div>

</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    } 

    @if (ViewBag.Exito != null && (bool)ViewBag.Exito)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Nueva Forma de Venta registrada correctamente',
                showConfirmButton: false,
                timer: 1300
            }).then((result) => {
                window.location = '@Url.Action("Listar", "FormaVenta")';
            });
        </script>
    }
}

