@model Persistencia.Entities.Tipo_Producto
@{
    ViewData["Title"] = "EDITAR TIPO DE PRODUCTO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header bg-primary-dark">
        EDITAR TIPO DE PRODUCTO
    </div>

    <div class="card-body">

        <form asp-action="Editar" asp-controller="TipoProducto" method="post">

            <input asp-for="id_TipoProducto" type="hidden" class="form-control">

            <div class="mb-3">
                <label class="form-label">Nombre</label>
                <input asp-for="Descripcion_Tipo" type="text" class="form-control">
                <span asp-validation-for="Descripcion_Tipo" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-success"><i class="bi bi-floppy2-fill"></i> Guardar</button>
            <a asp-action="Listar" asp-controller="TipoProducto" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Volver a la Lista</a>
        </form>

    </div>
</div>

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    @if (ViewBag.Exito != null && (bool)ViewBag.Exito)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: ' Tipo de Producto editado  correctamente',
                showConfirmButton: false,
                timer: 1300
            }).then((result) => {
                window.location = '@Url.Action("Listar", "TipoProducto")';
            });
        </script>
    }
}
