@model Persistencia.Entities.Tipo_Producto
@{
    ViewData["Title"] = "ELIMINAR TIPO DE PRODUCTO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        ELIMINAR DE TIPO PRODUCTO
    </div>

    <div class="card-body">
        <form asp-action="Eliminar" asp-controller="TipoProducto" method="post">

            <input asp-for="id_TipoProducto" type="hidden" class="form-control">

            <div class="alert alert-danger" role="alert">
                ¿Desea eliminar el Tipo: @Html.DisplayFor(m => m.Descripcion_Tipo) ?
            </div>


            <button type="submit" class="btn btn-danger"><i class="bi bi-trash"></i> Eliminar</button>
            <a asp-action="Listar" asp-controller="TipoProducto" class="btn btn-warning"><i class="bi bi-card-checklist"></i> Volver a la Lista</a>
        </form>
    </div>
</div>

@section scripts {
    @if (ViewBag.Exito != null && (bool)ViewBag.Exito)
    {
        <script>
            Swal.fire({
                icon: 'success',
                title: 'Tipo de Producto eliminado correctamente',
                showConfirmButton: false,
                timer: 1300
            }).then((result) => {
                window.location = '@Url.Action("Listar", "TipoProducto")';
            });
        </script>
    }
}

